@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900|Noto+Sans+KR:100,200,300,400,500,600,700,800,900&display=swap');
@import url("all.css");
@import url("reset.css");

/*공통*/
body{font-size: 14px;}
#wrapper{overflow: hidden;}
article{width: 100%;padding: 0 16px;box-sizing: border-box;}
.s-title{padding-bottom: 20px;}
.s-title>h2{font-size: 23px;letter-spacing: 5px;float: left;}
.s-title a{line-height: 23px;}
.s-title a img{width: 10px;margin-left: 0;}
.s-title a:hover img{transform: rotate(360deg);}
.more{font-size: 10px;}
/* #h-area */
#h-area{height: 70px;}
#h-area article{width: auto;position: relative;}
#h-area article::after{display: none;}
#h-area .menu{display: inline-block;width: 28px;height: 22px;float: right;margin-top: 24px;border: none;background: none;position: relative;padding: 0;text-align: center;z-index: 50;}
#h-area .menu>span{display: block;width: 28px;height: 2px;background: #585858;transition: all 0.3s;position: absolute;}
#h-area .menu>span:first-child{top: 0;transition-delay: 0.2s;}
#h-area .menu>span:nth-child(2){top: 8px;transition-delay: 0;}
#h-area .menu>span:last-child{top: 16px;transition-delay: 0.2s;}
#h-area .menu.on>span:first-child{transform: rotate(45deg);top: 10px;}
#h-area .menu.on>span:nth-child(2){width: 0;}
#h-area .menu.on>span:last-child{transform: rotate(135deg);top: 10px;}
/*#h-area .logo*/
#h-area .logo{width: 115px;padding-top: 0;float: none;}
#h-area .logo>a{width: 100%;height: 100%;display: block;}
#h-area .logo img{width: 115px;position: absolute;top: 50%;left: 0;transform: translateY(-50%);}
/*#h-area .navigation*/
#h-area .navigation{width: 100vw;height: 100vh;padding-top: 0;float: none;position: absolute;top: 0;left: 100%;background: #fff;z-index: 25;}
/*.navigation .tnv*/
.navigation .tnv{padding-top: 23px;height: 70px;box-sizing: border-box;line-height: 1;border-bottom: 1px solid #d3d3d3;}
.navigation .tnv>ul{left: 30px;}
.navigation .tnv>ul>li>a{padding: 0 8px;border-right: 1px solid rgba(128, 128, 128,.4);}
.navigation .tnv>ul>li:first-child>a{padding-left: 0;}
/*.navigation .gnv*/
.navigation .gnv{height: auto;}
.navigation .gnv>ul{left: 0;padding-top: 20px;}
.navigation .gnv>ul>li{float: none;width: 100%;height: auto;}
.navigation .gnv>ul>li>a{width: 100%;height: 100%;padding: 0 30px;display: block;font-size: 20px;font-weight: 500;line-height: 55px;position: relative;}
.navigation .gnv>ul>li.on>a>span{color: #007800;}
.navigation .gnv>ul>li:last-child>a{padding-right: 30px;}
.navigation .gnv>ul>li>a::after{content: "\f107";font-family: 'Font Awesome 5 free';font-weight: 600;position: absolute;top: 0;right: 30px;}
.navigation .gnv>ul>li a span{display: block;position: relative;}
.navigation .gnv .sub-list{padding: 17px 0;}
.navigation .gnv .sub-list li:first-child>a{margin-top: 0;}
.navigation .gnv .sub-list li>a{margin-top: 17px;}
/* main */
/*#main-visual*/
#main-visual{width: 100%;margin-top: 70px;height: 120px;background: url(../img/bg_topBg2_1.jpg) no-repeat center 0;background-size: cover;position: relative;}
/*#contents-wrap*/
#contents-wrap{margin-bottom: 100px;}
#contents-wrap article{width: 100%;}
/*#contents-wrap #nav-area*/
#contents-wrap #nav-area{width: 100%;height: 20px; margin: 15px 0;position: relative;}
#contents-wrap #nav-area .location{position: absolute;right: 0;}
#contents-wrap #nav-area li{float: left;color: #585858;}
#contents-wrap #nav-area li>i{display: inline-block;margin: 0 10px; font-size: 10px;}
#contents-wrap #nav-area li:last-child>a{font-weight: bold;}
#contents-wrap #nav-area li>a{ font-size: 12px;}
/*#contents-wrap #contents*/
#contents-wrap #contents h2{margin-bottom: 20px; font-size: 25px;font-weight: bold;}
/*#contents-wrap #contents .menu-list*/
#contents-wrap #contents .menu-list{width: 100%;height: auto;margin-bottom: 20px;border: none;overflow: hidden;}
#contents-wrap #contents .menu{width: 50%;height: 33px;background:#8A8D8F;color: #fff;font-size: 11px;box-sizing: border-box;text-align: center;line-height: 33px;font-weight: bold;border: 1px solid #c9ced0;}
#contents-wrap #contents .menu-list a:nth-child(1)>.menu{border-bottom: none;border-right: none;}
#contents-wrap #contents .menu-list a:nth-child(2)>.menu{border-bottom: none;}
#contents-wrap #contents .menu-list a:nth-child(3)>.menu{border-right: none;border-top: none;}
#contents-wrap #contents .menu-list a+a>.menu{;box-sizing: border-box;background: #fff; color: #222;}
/*#contents-wrap #contents .text-area*/
#contents-wrap #contents .text-area{margin: 15px 0 ;}
#contents-wrap #contents .text-area h3{font-size: 17px;font-weight: bold;}
#contents-wrap #contents .text-area p{margin-top: 10px;color: #606060; font-size: 13px;line-height: 1.6; word-break: keep-all;}
#contents-wrap #contents .text-area p:first-of-type{margin-top: 10px;}
/*#contents-wrap #contents .img-area*/
#contents-wrap #contents .img-area{width: 100%;height: auto;}
#contents-wrap #contents .img-area img{width: 100%;}
/*#contents-wrap #contents .program-list*/
.program-list table{width: 100%;margin-top: 30px; border-top: 2px solid #8a8d8f;}
.program-list tr{border-bottom: 1px solid #c9ced0;}
.program-list th{background: #e3e8eb;color: #222;font-size: 13px;font-weight: bold;padding: 14px 0;text-align: center;}
.program-list td{color: #8a8d8f;font-size: 11px;padding: 10px 5px;line-height: 1.4;}
.program-list th:first-child,.program-list td:first-child{width: 25%;border-right: 1px solid #c9ced0;}

/*footer*/
footer{padding: 30px 0 50px;}
footer .btn-go-t{width: 45px;height: 45px;top: -65px; right: 20px;}
.btn-go-t p{font-size: 10px;margin-top: 12px;}
/*.foot-top .nav-area*/
.foot-top .nav-area{width: 100%;}
.foot-top .nav-area a{width: auto;display: block;float: left;margin-right: 20px;font-size: 11px;line-height: 1.6;}
.foot-top .family{top: 200px;left: 50%;right: auto;transform: translate(-50%,-50%);text-align: center;font-size: 11px;z-index: 10;}
.foot-top .family>a{overflow: hidden;}
.foot-top .family .fam-site .fam-list>li{font-size: 11px;}
/*.foot-mid*/
.foot-mid{width: 100%;margin-bottom: 20px;}
.foot-mid .text-area{width: 100%;float: none;}
.foot-mid .text{margin-bottom: 5px;font-size: 11px;}
.foot-mid .text>span{margin-right: 0;}
.foot-mid .text:last-of-type{margin-bottom: 10px;word-break: keep-all;}
.foot-mid .sns{float: none;width: 186px;margin: 90px auto 0;}
.foot-mid .sns a+a{margin-left: 10px;}
.foot-mid .sns a>img{width: 26px;}
/*.foot-btm*/
/*p.copy*/
#info .copy{text-align: center;font-size: 10px;letter-spacing: 0;}

@media screen and (max-width: 440px){
	.navigation .tnv{padding: 23px 0;position: relative;height: 82px;box-sizing: border-box;line-height: 1;border-bottom: 1px solid #d3d3d3;}
	.navigation .tnv>ul>li:first-child{width: 100%;margin-bottom: 10px;}
	.navigation .tnv>ul>li:first-child>a{border-right: none;}
	.navigation .tnv>ul>li:nth-child(2)>a{padding-left: 0;}
	.foot-top .nav-area a{width: 50%;margin-right: 0;}
	.foot-top .family{width: 200px;height: 36px;position: absolute;top: 235px;left: 50%;right: auto;transform: translate(-50%,-50%);text-align: center;font-size: 12px;z-index: 10;}
	
}
@media screen and (min-width: 441px) and (max-width: 639px){
	#info .foot-top{margin-bottom: 0;position: relative;}	
}