@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Noto+Serif+KR:wght@200;300;400;500;600;700;900&family=Play&display=swap');
@import url("reset.css");
@import url("all.css");

/*common*/
.fr{float: right;}
.fl{float: left;}
.clearfix::after{content: "";display: block;clear: both;}
caption,figcaption,.blind{font-size: 0;line-height: 0;height: 0;overflow: hidden;text-indent: -9999px;}
article{width: 1200px;margin: 0 auto;}
.scale-w{display: inline-block;padding: 10px 15px;border-top: 1px solid #fff;border-bottom: 1px solid #fff;box-sizing: border-box;font-family: 'Noto Serif KR',serif;font-size: 13px; transition: transform 0.6s;}
.scale-w:hover{transform: scaleX(1.1);border: 1px solid rgba(58,58,58,0);}
.scale-b{display: inline-block;padding: 10px 15px;border-top: 1px solid #585858;border-bottom: 1px solid #585858;box-sizing: border-box;color: #585858;font-family: 'Noto Serif KR',serif;font-size: 13px; transition: transform 0.6s;}
.scale-b:hover{transform: scaleX(1.1);color: #f7940c;border: 1px solid rgba(58,58,58,0);}
h2.title{font-family: 'Noto serif KR',serif;font-size: 24px;}
p.text{line-height: 1.8;opacity: .8;}
/*.control*/
.products.arrow .control a.prev,#main-visual.arrow .control a.prev{opacity: .6;left: 0}

.products.arrow .control a.next,#main-visual.arrow .control a.next{opacity: .6;right: 0}
.control{width: 100%;position: absolute;top: 50%;transform: translateY(-50%;)}
.control a.prev,.control a.next{width: auto;height: 100%;position: absolute;opacity: 0;transition: opacity .4s, left .4s, right .4s;}
.control a.prev{left: 3px;}
.control a.next{right: 3px;}
.indicator{position: absolute;bottom: 30px;left: 50%;transform: translateX(-50%);opacity: .6;}
.indicator .indi{display: inline-block;width: 16px;height: 8px;border-radius: 4px;background: #fff;transition: background .6s, width .6s;}
#fruit .indicator .indi{background: #ff9900;opacity: .6;}
.indicator .indi.on{width: 40px;background: #ff9900;}
#fruit .indicator .indi.on{opacity: 1;}
.indicator .indi+.indi{margin-left: 3px;}

/*#container*/
#container{min-width: 1024px;overflow: hidden;}
#container #wrapper{position: relative;z-index: 10;background: #fff;}
/*#container #pop-event*/
#container #pop-event{width: 100%;height: 50px;background: #000;padding: 7.5px 0;box-sizing: border-box;}
#container #pop-event article{padding: 0 300px;box-sizing: border-box;}
#container #pop-event .img-area{width: 90%;}
#container #pop-event .indicator{width: 10%;margin-top: 3px;}
#container #pop-event .indicator .indi{display: block;width: 6px;height: 6px;border-radius: 50%;background: #d3d3d3;}
#container #pop-event .indicator .indi+.indi{margin-top:5px;}
/*#container #main-visual*/

/*header*/
header{width: 100%;height: 90px;background: rgba(67, 28, 16, 0.8);position: fixed;top: 0;left: 0;z-index: 20;transition: height .4s;}

header.on {height: 60px;}
header.on .logo img{margin: 15px 0;}
header.on .nav-area .tnb{top: -40px;}
header.on .nav-area .gnb{bottom: 35px;}
header.on .nav-area .gnb>.main-gnb>li:first-child span::before{opacity: 1;}
header.on .nav-area .gnb>.main-gnb>li span::after{bottom: -19px;}
header.on .nav-area .gnb>.main-gnb>li.r .sub-list{top: 55px;}
header.on .nav-area .gnb>.main-gnb>li.l .sub-list{top: 55px;}
header article{height: 100%;}
/*header .logo*/
header .logo{width: 188px;height: 100%;transition: height .4s;}
header .logo h1{width: 100%;}
header .logo img{width: 100%;display: block;margin: 30px 0;transition: margin .4s;}
/*header .nav-area*/
header .nav-area{width: 1000px;height: 90px;position: relative;}
/*header .nav-area .tnb*/
header .nav-area .tnb{position: absolute;top: 15px;right: 0;transition: top .4s;}

header .nav-area ul{position: relative;z-index: 3;}
header .nav-area li>a{color: #fff;}
header .nav-area .tnb li{height: 20px;float: left;}
header .nav-area .tnb li>a{height: 100%; padding: 0 15px;display: block;font-size: 12px;opacity: .8;}
header .nav-area .tnb li:last-child>a{padding-right: 0;}
header .nav-area .tnb .point{position: absolute;left: 74px;width: 50px;height: 18px;border-radius: 5px;background: #ff614c;color: #fff;font-size: 11px;font-family: serif;line-height: 18px;text-align: center;animation-name: point1;animation-duration: .6s;animation-iteration-count: infinite;animation-timing-function: ease-in-out;animation-direction: alternate;}
header .nav-area .tnb .point::before{content: "";position: absolute;left: 22px;border-bottom: 3px solid #ff614c;border-left: 3px solid transparent;border-right: 3px solid transparent;animation: point2 1s infinite;transition: all .6s;}
@keyframes point1{
	0%{top: 19px}
	100%{top: 16px}
}
@keyframes point2{
	0%{top: -3px}
	100%{top: -3px}
}
/*header .nav-area .gnb*/
header .nav-area .gnb{height: 50px;position: absolute;bottom: 0;right: 0;transition: bottom .4s;}
/*header .nav-area .gnb>.main-gnb*/
header .nav-area .gnb>.main-gnb{width: auto;height: 100%;line-height: 50px;}
header .nav-area .gnb>.main-gnb>li{float: left;width: auto;height: 100%;position: relative;}
header .nav-area .gnb>.main-gnb>li>a{display: inline-block;padding: 0 25px;box-sizing: border-box;font-family: 'Noto Serif KR',serif;}
header .nav-area .gnb>.main-gnb>li>a:hover span{color: #F7940C;}
header .nav-area .gnb>.main-gnb>li span{position: relative;}
header .nav-area .gnb>.main-gnb>li span::after{content: "";display: block;width: 0;height: 3px;background: #f7940c;position: absolute;left: 50%;bottom: -14px;transform: translateX(-50%);opacity: 0;transition: all 0.3s;}
header .nav-area .gnb>.main-gnb>li:first-child span::before{content: "new";position: absolute;top: -14px;right: -17px; padding: 2px 4px;border-radius: 7px;line-height: 1;background: #ff614c;color: #fff;font-size: 12px;font-family: 'Noto Serif KR',serif;opacity: 1;transition: opacity .4s;}
header .nav-area .gnb>.main-gnb>li:hover span::after{width: 100%;opacity: 1;}
header .nav-area .gnb>.main-gnb>li:hover .sub-list{display: block;opacity: 1;}
header .nav-area .gnb>.main-gnb::after{content: "";display: inline-block;width: 1px;height: 30px;margin-top: 7px;background: #fff;opacity: .8;}
header .nav-area .gnb>.main-gnb>li .sub-list{width: 450px;height: 265px;padding: 20px;border: 1px solid #d3d3d3;box-sizing: border-box;z-index: 5;background: #fff;overflow: hidden;opacity: 0;display: none;}
header .nav-area .gnb>.main-gnb>li.l .sub-list{position: absolute;top: 50px;left: 0;}
header .nav-area .gnb>.main-gnb>li.r .sub-list{position: absolute;top: 50px;right: 0;text-align: right;}
header .nav-area .gnb>.main-gnb .sub-list>.list{width: 150px;line-height: 35px;}
header .nav-area .gnb>.main-gnb .sub-list>.list>ul>li+li{border-top: 1px solid #d3d3d3;}
header .nav-area .gnb>.main-gnb .sub-list a{color: #585858;font-size: 14px;font-family: 'Noto Serif KR',serif;transition: all 0.3s;}
header .nav-area .gnb>.main-gnb>li .sub-list a:hover{color: #c0bdbd;}
header .nav-area .gnb>.main-gnb>li.l .sub-list a:hover{margin-left: 5px;}
header .nav-area .gnb>.main-gnb>li.r .sub-list a:hover{margin-right: 5px;}
/*header .nav-area .gnb .user*/
header .nav-area .gnb>.user{margin-left: 25px;}
header .nav-area .gnb>.user>li{float: left;}
header .nav-area .gnb>.user a{display: inline-block;height: auto;margin-top: 15px;box-sizing: border-box;opacity: .7;}
header .nav-area .gnb>.user>li+li>a{margin-left: 20px;}
header .nav-area .gnb>.user img{width: 18px;line-height: 50px;}
header .nav-area .gnb>.user>li:nth-child(2) img{width: 20px;}
/*#quick-menu*/
#quick-menu{width: 60px;border-radius: 10px; position: fixed;bottom: 120px;right: -100px;background: #fff;box-shadow: rgba(0,0,0,0.1) 0 10px 20px;z-index: 100;opacity: 0;transition: all .4s;}
header.on+#quick-menu{right: 10px;opacity: 1}
#quick-menu ul{width: 100%;}
#quick-menu ul>li{width: 40px;height: 40px;margin: 20px auto;position: relative;font-size: 18px;line-height: 40px;text-align: center;}
#quick-menu ul>li:first-child>a{border-radius: 50%;background: #ffd90f;color: #000;}
#quick-menu ul>li>a{display: block;background: #fff;color: #9c7d75;transition: all .4s;}
#quick-menu ul>li>.title{display: block;padding: 10px 20px;border-radius: 16px;font-size: 12px;line-height: 1;background: rgba(0,0,0,.8);color: #fff;position: absolute;left: -150px;top: 50%;transform: translateY(-50%);transition: all .4s;opacity: 0;}
#quick-menu ul>li>a.on{background: #9C7D75;color: #fff;border-radius: 50%;box-shadow: rgba(0,0,0,0.3) 0 5px 5px;}
#quick-menu ul>li>a.on+.title{left: -110px;opacity: 1;}
/*#top-btn*/
#top-btn{display: none;padding: 15px;border-radius: 8px;background: #fff;color: #9C7D75;font-size: 18px;position: fixed;bottom: 50px;right: 10px;z-index: 100;box-shadow: rgba(0,0,0,0.1) 0 10px 20px;}
#top-btn.on{display: block;opacity: 0;}

/*#main-visual*/
#main-visual{width: 100vw;height: calc(100vh - 50px);position: fixed;top: 0;left: 0;overflow: hidden;}
#main-visual .slide{width: 100%; height: 100%;}
#main-visual .slide li{width: 100%;height: 100%;position: absolute;left: 0;top: 0;}
#main-visual .slide li:nth-child(1){background: url(../img/index/main-bg1.jpg) no-repeat center/cover;}
#main-visual .slide li:nth-child(2){background: url(../img/index/main-bg2.jpg) no-repeat center/cover;}
#main-visual .slide li:nth-child(2) .visual-area{left: 30%;}
#main-visual .slide li:nth-child(2) .visual-area h2{margin-bottom: 35px;}

#main-visual .visual-area{position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%);z-index: 1;text-align: center;}
.visual-area h2>img{display: block;width: auto;margin: 0 auto 20px;}
.visual-area>a.scale-b{display: inline-block;padding: 10px 0;box-sizing: border-box;border-bottom: 1px solid #585858;border-top: none; font-size: 13px;font-family: 'Noto Serif KR',serif;letter-spacing: 1px;opacity: .8;transition: transform 0.8s;}
.visual-area>a.scale-b:hover{border-bottom: none;}
/*main*/
main{margin-top: calc(100vh - 50px);position: relative;background: #fff;}
/*main #fruit*/
main #fruit{width: 100%;height: 800px;}
main #fruit article{margin: 0;height: 100%;}
main #fruit .contents{position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%);text-align: center;}
/*#fruit .products*/
#fruit .products{width: 50%;height: 100%;position: relative;background: #F7F7F7;overflow: hidden;/*background: red;*/z-index: 100;}
#fruit .products .slide{width: 100%;height: 100%;position: absolute;top: 0;left: 0;}
#fruit .products .slide li{width: 100%;height: 100%;position: absolute;top: 0;background: #F7F7F7;}
#fruit .products .slide a{display: block;position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);text-align: center;}
#fruit .products .slide a>img{width: 450px; margin-bottom: 10px;}
#fruit .products .slide a>.title{margin-bottom: 20px;font-family: 'Noto Serif KR',serif;font-size: 24px;font-weight: 500;color: #333}
#fruit .products .slide a>.text{color: #585858;line-height: 1.6;}

/*#fruit .every*/
#fruit .every{width: 50%;height: 100%;background: url(../img/index/every-bg.jpg) no-repeat center;background-size: cover;position: relative;}
#fruit .every .contents{width: 535px;height: 550px;background: rgba(255,255,255,.7);position: relative;}
#fruit .every .contents>.text-area{width: 400px;height: auto;position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%)}
#fruit .every .contents .title{margin-bottom: 50px;font-size: 30px;}
#fruit .every .contents .text{margin-bottom: 50px;}
#fruit .every .contents .text>strong{font-weight: 500;}
/*section#event*/
#event{width: 100%;height: 460px;overflow: hidden;}
#event .week,#event .som-box{width: 50%;height: 100%; position: relative;overflow: hidden;background: #fff;}
#event .week::after{content: "";display: inline-block;width: 1px;height: 260px;background: #d3d3d3;position: absolute;top: 50%;;right: 0;transform: translateY(-50%)}
#event .contents{width: 650px;height: 260px;position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%);}
#event .contents .text-area{width: 50%;padding: 40px 0;box-sizing: border-box;text-align: center;}
#event .contents .img-area{width: 50%}
#event .contents .img-area img{display: block;}
#event .contents .title{margin-bottom: 25px;}
#event .contents .text{margin-bottom: 25px;}
/*section#brand*/
main #brand{width: 100%;height: 800px;}
main #brand article{margin: 0;height: 100%;}
main #brand .contents{position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%);text-align: center;}
#brand .story{width: 50%;height: 100%;background: url(../img/index/bg-story01.jpg) no-repeat center;background-size: cover;position: relative;}
#brand .class{width: 50%;height: 100%;background: url(../img/index/bg-class.jpg) no-repeat center;background-size: cover;position: relative;}
#brand .contents{width: 560px;height: 550px;color: #fff;position: relative;}
#brand .contents>.text-area{width: 550px;height: auto;position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%)}
#brand .contents .title{margin-bottom: 50px;font-size: 30px;letter-spacing: 5px;}
#brand .contents .text{margin-bottom: 50px;}
#brand .contents a>span{line-height: 1;font-family: 'Noto Serif KR',serif;font-size: 14px;}
/*section#pick*/
#pick{width: 100%;background: #fff;}
/*#pick .head-title*/
#pick .head-title{text-align: center;margin: 50px auto;padding-top: 70px;}
#pick .head-title .title{margin-bottom: 30px;font-size: 30px;letter-spacing: 5px;}
#pick .head-title .text{margin-bottom: 20px;}
/*#pick .pro-list*/
#pick .pro-list{}
#pick .pro-list ul{width: 100%;height: 643px;margin-bottom: 20px;}
#pick .pro-list ul>li{width: 30%;float: left;transition: margin 0.4s;}
#pick .pro-list ul>li+li{margin-left: 5%;}
#pick .pro-list ul>li:first-child{margin-top: 100px;}
#pick .pro-list ul>li:last-child{margin-top: 60px;}
#pick .pro-list ul>li:hover{margin-top: -15px;}
#pick .pro-list ul>li:first-child:hover{margin-top: 85px;}
#pick .pro-list ul>li:last-child:hover{margin-top: 45px;}
#pick .pro-list ul>li:hover .img-area{opacity: .5;}
#pick .pro-list ul>li>a{display: block;width: 365px;position: relative;}
#pick .pro-list ul>li>a .img-area{width: 100%;position: relative;}
#pick .pro-list ul>li>a .point{width: 60px;position: absolute;top: 15px;left: 15px;}
#pick .pro-list ul>li>a .img-area>.point:nth-child(2){left: 80px;}
#pick .pro-list ul>li>a img{display: block;width: 100%;height: auto;margin-bottom: 13px;transition: opacity 0.4s;}
#pick .pro-list ul>li>a h3{font-family: 'Noto Serif KR',serif;font-size: 17px;font-weight: 500;line-height: 1.6;word-break: keep-all;letter-spacing: -1px;}
#pick .pro-list ul>li>a .text{margin: 15px 0;font-size: 13px;word-break: keep-all;line-height: 1.4;opacity: .8;}
#pick .pro-list ul>li>a .price{font-size: 13px;}
#pick .pro-list ul:first-child>li:first-child>a .price::after{content: "50,000ì›";display: inline-block;margin-left: 10px;color: #c0bdbd;font-family: 'Noto Serif KR',serif;font-size: 16px;vertical-align: middle;text-decoration: line-through;}
#pick .pro-list ul>li>a .price>em{font-family: 'Noto Serif KR',serif;font-size: 18px;font-weight: 600;}
/*aside#etc*/
aside{position: relative;z-index: 10;background: #fff;}
/*#etc section#banner*/
#etc #banner{width: 100%;height: auto;padding: 50px 0;overflow: hidden;}
#etc #banner .img-area{width: 50%;}
#etc #banner .img-area:last-child{text-align: right;}
#etc #banner .img-area img{width: 575px;}
#etc #banner .img-area:first-child{margin-top: 110px;}
#etc #banner .img-area:last-child img{margin-bottom: 50px;}
/*#etc section#allfresh*/
#etc #allfresh{height: 295px;border-top: 1px solid #d3d3d3;border-bottom: 1px solid #d3d3d3;text-align: center;}
#etc #allfresh .contents{height: 100%;position: relative;}
#etc #allfresh .contents .text-area{width: 700px;position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%);}
#etc #allfresh .text-area .title,#etc #allfresh .text-area .text{margin-bottom: 25px;}
#etc #allfresh .text-area .scale-b:first-of-type{margin-right: 10px;}
/*#etc section*/
#etc section{width: 100%;padding: 80px 0;box-sizing: border-box;}
/*#etc section#delivery*/
#etc #delivery .contents{width: 1200px;height: 200px;margin: 0 auto;}
#etc #delivery article{width: 50%;height: 100%;float: left;position: relative;}
#etc #delivery .text span{display: block;font-weight: 500;}
#etc #delivery .text-area{width: 100%;height: 200px; text-align: center;position: absolute;top: 50%;transform: translateY(-50%);}
#etc #delivery article:first-child .text-area{border-right: 1px solid #d3d3d3;}
#etc #delivery .text-area .title,#etc #delivery .text-area .text{margin-bottom: 18px;}
#etc #delivery .text-area .title{color: #5A381A;line-height: 1.6;font-weight: 600;}
.text{margin-bottom: 18px;}
#etc #delivery .text-area .title span{display: block;}
#etc #delivery .text-area .text{font-size: 14px;}
#etc #delivery .text-area .scale-b:first-of-type{margin-right: 10px;}
#etc #delivery .text-area .scale-b>span::before{display: inline-block;margin-right: 10px;font-family: 'Font Awesome 5 free';font-weight: 600;font-size: 14px;}
#etc #delivery .order .text-area .scale-b:first-of-type>span::before{content: "\f075";}
#etc #delivery .order .text-area .scale-b:last-of-type>span::before{content: "\f590";}
#etc #delivery .return .text-area .scale-b:first-of-type>span::before{content: "\f474";}
#etc #delivery .return .text-area .scale-b:last-of-type>span::before{content: "\f07a";}
/*#etc section#fnb*/
#etc #fnb{padding: 0 0 50px;border-bottom: 1px solid #d3d3d3;}
#etc #fnb .nav-list{width: 100%;overflow: hidden;color: #585858;}
#etc #fnb .nav-list .content{width: 120px;margin-left: 80px;float: left;opacity: .8;}
#etc #fnb .nav-list .content h3{font-weight: 500;margin-bottom: 20px;line-height: 1.6;color: #222;}
#etc #fnb .nav-list .content a{display: block;margin-bottom: 15px;font-size: 13px;}
/*footer*/
footer{position: relative;z-index: 10;background: #fff;}
/*footer .foot-area*/
footer #foot-area{width: 100%;padding: 60px 0;background: #fff;}
footer #foot-area article{font-size: 13px;text-align: center;opacity: .6;}
footer #foot-area .logo{margin-bottom: 30px;}
footer #foot-area span{display: block;line-height: 2;}
footer #foot-area span>a{font-weight: 500;}
footer #foot-area .copyright{margin: 20px 0 10px;}
footer #foot-area ul{display: inline-block;overflow: hidden;}
footer #foot-area ul>li{width: auto;float: left;}
footer #foot-area ul>li>a{width: 100%;display: block;font-weight: 500;}
footer #foot-area ul>li+li{margin-left: 15px;}